<footer>
  <div id="social">
    <p>For bug reports, feature requests, general suggestions & feedback &mdash; reach out to us at:</p>
    <a target="_blank" href="https://twitter.com/intent/tweet?text=@debloper%20%3Ctweet%20goes%20here%3E&hashtags=xplex"><img src="assets/img/twitter.svg"></a>
    <a target="_blank" href="https://www.reddit.com/r/xplex/submit"><img src="assets/img/reddit.svg"></a>
    <a target="_blank" href="https://github.com/debloper/xplex/issues/new"><img src="assets/img/github.svg"></a>
  </div>
  <div id="colophon">
    <code><a href="https://github.com/debloper/xplex" target="_blank">{}</a></code>
    with
    <code><a href="https://github.com/debloper/xplex/pulls" target="_blank"><3</a></code>
    by
    <code><a href="https://github.com/debloper/xplex/graphs/contributors" target="_blank">B)</a></code>
  </div>
</footer>
