---
import Xplex from '@components/Xplex.astro';
import Pagination from '@astrojs/starlight/components/Pagination.astro'
import type { Props } from '@astrojs/starlight/props';
---

<footer class="sl-flex">
  <Pagination {...Astro.props} />
  <a class="kudos sl-flex" href="https://github.com/sponsors/debloper">
    🌱 support <Xplex /> with your sponsorship ❤️
  </a>
  <nav class="footer-links">
    <a href="/about">About Us</a>
	•
    <a href="/about/contact">Contact Us</a>
	•
    <a href="/about/privacy">Privacy Policy</a>
	•
    <a href="/about/terms">Terms of Services</a>
  </nav>
</footer>

<style>
	footer {
		flex-direction: column;
	}
	.meta {
		gap: 0.75rem 3rem;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 3rem;
		font-size: var(--sl-text-sm);
		color: var(--sl-color-gray-3);
	}
	.meta > :global(p:only-child) {
		margin-inline-start: auto;
	}
	.kudos {
		gap: 0.5em;
		margin: 1rem auto;
		text-decoration: none;
		color: var(--sl-color-gray-4);
	}
	.kudos:hover {
		color: var(--sl-color-gray-2);
	}
	.footer-links {
		display: flex;
		gap: 1rem;
		justify-content: center;
		margin-top: 1rem;
	}

	.footer-links a {
		color: var(--sl-color-gray-4);
		text-decoration: none;
	}

	.footer-links a:hover {
		color: var(--sl-color-gray-2);
	}
</style>
