---
---

<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Meta tags -->
  <meta charset="utf-8">
  <meta name="viewport"     content="width=device-width, initial-scale=1">
  <meta name="keywords"     content="xplex,stream,streaming,media,rtmp,multistream,multi-stream">
  <meta name="description"  content="Multistreaming for the people">

  <!-- Page title -->
  <title>{{ page.title }}</title>

  <!-- Link elements, including stylesheets -->
  <link rel="icon"          href="img/favicon@16.png" sizes="16x16" type="image/png" />
  <link rel="icon"          href="img/favicon@32.png" sizes="32x32" type="image/png" />

  <link rel="stylesheet"    href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Unica+One">
  <link rel="stylesheet"    href="assets/style.css" />

</head>

<body>
  {{ content }}
</body>

</html>
